body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-content {
  min-height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  background: hsla(230,8%,60%,1);
}
.tictactoe{

}
.tictactoe-board{
  width: 80vw;
  height: 65vh;
  flex-wrap: wrap;                     /* enable flex items to wrap */
  justify-content: space-around;
  position: relative;
}

.tictactoe-board .user-panel{
  width: 100%;
  background-color:hsla(230,8%,60%,1);
  text-align: center;
  height: 5vh;
  font-size: .7em;
  line-height: .5em;
  position: relative;
  text-align: left;
  padding:5px 0px 0px 0px;
  color: black;
  font-weight: bold;
  position: relative;
  float: left;
}
.tictactoe-board .user-panel  div{
   position: relative;
   float: left;

  }
  .tictactoe-board .user-panel .label{
    padding: 3px;
    margin-right: 4px;
  }
  .tictactoe-board .user-panel .button{
   border: 1px solid #bbb;
    cursor: pointer;
    float: right;
    position: relative;
    height: 10px;
    margin-top: -5px;
  }
 .tictactoe-board .user-panel .now{
    margin-left:20px;
  }
.tictactoe-board .game-panel{
  display: flex;
  flex-wrap: wrap;                     /* enable flex items to wrap */
  justify-content: space-around;
  background-color: hsla(230,11%,19%,1);
  width: 80vw;
  height: 60vh;
  text-align: center;
  position: relative;

}
.tictactoe-board .game-panel > div{
  width:25%;
  background-color: #f1f1f1;
  margin: 10px;
  text-align: center;
  height: 25%;
  font-size: 3em;
  line-height: 1.4em;
  position: relative;
   cursor: pointer;
}
.tictactoe-board .game-panel > div > span{
  display: block;
  color:#000000;
  }
.App-link {
  color: #61dafb;
}

.hideSelection{
  display: none !important;
  }

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
